*.[oa]
*.deps
src/cdxxx.cpp
src/debtab.cpp
src/dmd
src/ddmd
src/dmd.conf
src/elxxx.cpp
src/fltables.cpp
src/id.cpp
src/id.d
src/id.hpp
src/idgen
src/impcnvgen
src/impcnvtab.cpp
src/impcnvtab.d
src/optab.cpp
src/optabgen
src/tytab.cpp
test/test_results
*.obj
src/verstr.hpp
*.map
.DS_Store
trace.def
trace.log
Makefile

# Output files
src/*.bak
src/*.lib
tags

# Generated
/generated

compile_commands.json
compile_commands.json.user
